body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #FFA500;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    color: #FFA500;
}

form, table {
    background-color: black;
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

label {
    color: #fff;
}

input[type="text"],
input[type="number"] {
    width: calc(100% - 40px);
    padding: 8px;
    margin-bottom: 10px;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    background-color: #FFA500;
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

input[type="submit"]:hover {
    background-color: #FFD700;
}

table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #FFD700;
    color: white;
}
